.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.GameBoard {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.cell {
  border: 1px solid #ddd;
}

.snake {
  background-color: #00a;
}

.food {
  background-color: #a00;
}
